@font-face {
    font-family: birthday;
    src: url(../fonts/Birthday\ Party.otf);
}
@font-face {
    font-family:catima ;
    src: url(../fonts/Catima.otf);
}
@font-face {
    font-family: monoton;
    src: url(../fonts/Monoton-Regular.ttf);
}
@font-face {
    font-family: PROTEST;
    src: url(../fonts/ProtestStrike-Regular.ttf);
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* navbar */
.navbar{
    background-color: white;
}
.navbar_logo{
    width: 35%;
}
.navbar-brand img{
    width: 40%;
    margin-left: 30px;
}
.nav-item{
    margin-left: 20px;
}
.nav-link{
    font-size: 1.2rem;
}
.nav-link:hover{
    border-bottom: 3px solid rgb(7, 88, 71);
    transition: 0.1s ease-in-out;
}


.nav-item a{
    color: black;
    font-size: 1.3rem;
}
.Khan{
    color: rgb(187, 7, 172);
}
.navbar_logo a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: bolder;
    color:black;
    font-family: protest;
}
#download-cv{
    padding: 10px 25px 10px 25px;
    background-color: #074643;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    transition: 0.8s ease-in-out;
    
}
#download-cv:hover{
    background-color: #be0753;
}

/* content */

.header {
    background-color: #074643;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.header{
    margin: 0;
}
.container {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
}

.profile img {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin-right: 1em;
}
.profile-info {
    max-width: 600px;
    margin-left: 30px;
    margin-top: 200px;
}
.profile-info h2 {
    margin: 0;
    font-size: 1.8rem;
    font-family: protest;
    letter-spacing: 0.5rem;
}
.profile-info p{
    font-size: 1.3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bio {
    margin: 2em 0;
    margin-top: 8em;
}

.bio h1{
    font-family: protest;
    letter-spacing: 0.5rem;
}
.bio p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}
.skills h1{
    font-family: protest;
    letter-spacing: 0.5rem;
    margin-top: 2em;
}
.skills ul li{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 1.1rem;
}
.skills, .projects {
    margin-bottom: 2em;
}
.skills ul, .projects ul {
    list-style: none;
    padding: 0;
}
.skills ul li, .projects ul li {
    margin-bottom: 0.5em;
}


/* footer */

#footer{
    background-color: black;
    color: white;
    padding: 30px;
    margin-top: 30px;
}
 .icons a{
     text-decoration: none;
     color: #31ac19;
 }
 .icons a i{
     margin-left: 10px;
     color: #31ac19;
     font-size: 1.4rem;
 }


 .copy-right input{
     padding: 8px 15px 8px 15px;
     border-radius: 10px;
     border: none;
 }
 .contact-info a{
     text-decoration: none;
     color: white;
 }
 .send{
     padding: 5px 10px 5px  10px;
     border-radius: 10px;
     background-color: #31ac19;
     color: white;
     border: none;
     cursor: pointer;
 }

.rights {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}
