@font-face {
    font-family: birthday;
    src: url(../fonts/Birthday\ Party.otf);
}
@font-face {
    font-family:catima ;
    src: url(../fonts/Catima.otf);
}
@font-face {
    font-family: monoton;
    src: url(../fonts/Monoton-Regular.ttf);
}
@font-face {
    font-family: PROTEST;
    src: url(../fonts/ProtestStrike-Regular.ttf);
}



/* navbar */
.navbar{
    background-color: white;
}
.navbar_logo{
    width: 35%;
}
.navbar-brand img{
    width: 40%;
    margin-left: 30px;
}
.nav-item{
    margin-left: 20px;
}
.nav-link{
    font-size: 1.2rem;
}
.nav-link:hover{
    border-bottom: 3px solid rgb(7, 88, 71);
    transition: 0.1s ease-in-out;
}


.nav-link{
    color: black;
}
.Khan{
    color: rgb(187, 7, 172);
}
.navbar_logo a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: bolder;
    color:black;
    font-family: protest;
}
#download-cv{
    padding: 10px 25px 10px 25px;
    background-color: #074643;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    transition: 0.8s ease-in-out;
    
}
#download-cv:hover{
    background-color: #be0753;
}
/* blog search */
.blog-head input{
    padding: 8px 90px 8px 90px;
}
.sub-btn{
    padding: 8px 20px 8px 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
}





 /* Footer */
#footer{
        background-color: black;
        color: white;
        padding: 30px;
        margin-top: 30px;
 }
.icons a{
         text-decoration: none;
         color: #31ac19;
}

     .icons a i{
         margin-left: 10px;
         color: #31ac19;
         font-size: 1.4rem;
     }
 
 
     .copy-right input{
         padding: 8px 15px 8px 15px;
         border-radius: 10px;
         border: none;
     }
     .contact-info a{
         text-decoration: none;
         color: white;
     }
     .send{
         padding: 5px 10px 5px  10px;
         border-radius: 10px;
         background-color: #31ac19;
         color: white;
         border: none;
         cursor: pointer;
     }
     .rights {
         text-align: center;
         padding: 1em 0;
         background-color: #333;
         color: #fff;
     }